[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:baohuamap/nvim-config.git

[submodule "fzf-git.sh/.config/fzf-git.sh"]
	path = fzf-git.sh/.config/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git

[submodule "alacritty/.config/alacritty/alacritty-theme"]
	path = alacritty/.config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
